@import url('https://fonts.googleapis.com/css?family=Hind|Questrial');

html {
    overflow: hidden;
}
body {
    background: linear-gradient(to left, #89fffd, #ef32d9);
    height: 100vh;
    width: 100vw;
    animation: FadeInBody 1s ease 0.15s 1 forwards;
    #app {
        height: 100%;
        width: 100%;
    }
}
* {
    font-family: 'Questrial';
}
.fade-in {
    opacity: 0;
    filter: blur(5px);
    animation: FadeIn 1s ease 0s 1 forwards;
}
@keyframes FadeIn {
    100% { opacity: 1;  filter: blur(0px); } 
}
.fade-out {
    opacity: 1;
    filter: blur(0px);
    animation: FadeOut 1s ease 0s 1 forwards;
}
@keyframes FadeOut {
    100% { opacity: 0;  filter: blur(5px);}
}
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-fade {
    
    height: 100%;
    opacity: 0;
    filter: blur(5px);
    animation: SpinnerFade 3s ease 0s 1 forwards;
    
    span {
        height: 200px;
        width: 200px;
        position: relative;
        bottom: 5%;
    }
}
@keyframes SpinnerFade {
    50% { opacity: 1;  filter: blur(0px);}
}
.particles {
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}
.size-fade-in {
    opacity: 0;
    filter: blur(5px);
    transform: scale(.75);
    animation: SizeFadeIn 1s ease 0s 1 forwards;
}
@keyframes SizeFadeIn {
    100% { opacity: 1;  filter: blur(0px); transform: scale(1);}
}
.size-fade-out {
    opacity: 1;
    filter: blur(0px);
    animation: SizeFadeOut 1s ease 0s 1 forwards;
}
@keyframes SizeFadeOut {
    100% { opacity: 0;  filter: blur(5px); transform: scale(.75);}
}
.be-out {
    opacity: 0;
}
.fade-in-fast {
    opacity: 0;
    filter: blur(5px);
    animation: FadeInFast 1s ease 0s 1 forwards;
}
@keyframes FadeInFast {
    100% { opacity: 1;  filter: blur(0px);}
}

@import "navbar";
@import "sign_in";
@import "logged_in";
