@import url('https://fonts.googleapis.com/css?family=Hind|Questrial');

html {
    overflow: hidden;
}
body {
    background: linear-gradient(to left, #89fffd, #ef32d9);
    height: 100vh;
    width: 100vw;
    opacity: 0;
    animation: FadeInBody 1s ease 0.15s 1 forwards;
    #app {
        height: 100%;
        width: 100%;
        /*
        div:first-child {
            height: 100%;
            width: 100%;
        }
        */
    }
}
* {
    font-family: 'Questrial';
}

@keyframes FadeInBody {
    100% { opacity: 1; }
}


@import "navbar";
@import "sign_in";
