// Place all the styles related to the LoggedIn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the SignIn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logged_in.logged_in { 
    overflow: hidden;
    .container-fluid {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .row  {
            height: 80%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            bottom: 5%;
            .column {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: relative;
            }
            .spinner-container {
                position: relative;
                bottom: 5%;
            }
        }
    }
}
.spinner-fade-getting-gifs {
    height: 200px;
    width: 200px;
    position: relative;

}
.sideNav {
    * {
        color: #00ef81;
    }
    height: 100%;
    
    background-color: transparent;

    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        border-color: white;
        border-radius: 5px 5px 0 0;
        background-color: rgba(#00ef81, 1);
    }
    .card-title {
        margin: 0;
        color: white !important;
    }
    
    .list-group {
        height: 100%;
        border-radius: 0 0 5px 5px;
        background-color: rgba(white, 1);
        .list-group-item {
            background-color: rgba(white, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 33%;
            font-size: 150%;
            overflow: hidden;
            padding: 0 !important;
            margin: 0;
            border-radius: 0;
            color: rgba(black, 1);
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
            font-size: 24px;
            color: rgb(231, 76, 60);
            display: block;
            transition: all 0.4s !important;
            box-sizing: border-box;
            text-align: center;
            text-decoration: none;
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.4s !important;
            }
        }
    }
    .list-group-item:after {
        content: '';
        width: 100%;
        height: 100%;
        color: white;
        display: block;
        transition: all 0.4s !important;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        border-width: 3px ;
        border-style: none solid none solid;
        border-color: rgba(#00ef81, 0);

    }
    .list-group-item:hover{  
        transition: all 0.4s !important;
        box-sizing: border-box;
        cursor: pointer;
        span { color: white !important; }

    }
    .list-group-item:hover:after {  
        transition: all 0.4s !important;
        box-sizing: border-box;
        cursor: pointer;
        color: rgb(231, 76, 60);
        border-left: 130px solid rgba(#00ef81, 1);
        border-right: 130px solid rgba(#00ef81, 1);
    }
}

.click-sonar2 {
    height: 0;
    width: 0;
    opacity: .75;
    border-radius: 100%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    animation: ClickSonar2 .5s ease-out 0s 1;
    background:  white;//linear-gradient(to left, #89fffd, #ef32d9);
}
@keyframes ClickSonar2 {
100% { height: calc(263.516px * 2); width: calc(263.516px * 2); opacity: 0; }
}



.selected-dash-component {  
    transition: all 0.4s !important;
    box-sizing: border-box;
    cursor: pointer;
    span { color: white !important; }
}
.selected-dash-component:after {  
    transition: all 0.4s !important;
    box-sizing: border-box;
    cursor: pointer;
    border-left: 130px solid rgba(#00ef81, 1) !important;
    border-right: 130px solid rgba(#00ef81, 1) !important;
}

.no-gifs {
    background-color: #00ef81;
    color:white; 
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        text-align: center;
    }
}

.available-emojis {
    &::-webkit-scrollbar {
        width: 10px;
        margin: 0 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #a8ff78, .6; 
        border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: white; 
        border-radius: 20px;
    }

    height: 35%;
    width: 100%;
    overflow-y: scroll;
    //background-color: rgba(#00ef81, .25);
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    background-size: 400% 400%;
    background: linear-gradient(to right, rgba(#78ffd6, .6), rgba(#a8ff78, .6));  
    //animation: Gradient 2.5s ease infinite;
    div {
        height: 50%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        &:hover {
            background-color: rgba(white, .3);
        }
        h5 {
            font-size: 200%;
        }
        
    }
	
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%;
	}
}
.capture-group {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: 400% 400%;
    background: linear-gradient(to right, rgba(#78ffd6, .6), rgba(#a8ff78, .6));  
    //animation: Gradient 2.5s ease infinite;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    .video, .emojiSelectWindow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 50%;
        p, i {
            color: black;
            font-size: 200%;
        }
    }
    .emojiSelectWindow {
        width: 35%;
        .btn {
            width: 100%;
        }
    }
    .capture-buttons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 15%;
    }
    input {
        width: 100%;
    }
}
.selected-emoji-table {
    background-color: rgba(white, .6) !important;
}
.rendered-gifs-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    background-size: 400% 400%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, rgba(#78ffd6, .6), rgba(#a8ff78, .6));  
    &::-webkit-scrollbar {
        width: 10px;
        margin: 0 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #a8ff78, .6; 
        border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: white; 
        border-radius: 20px;
    }
    .card {
        min-height: 35%;
        width: 20%;
        margin: 5px;
        transition: .25s ease;
        img {
            background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/f1055231234507.564a1d234bfb6.gif");
            background-attachment: fixed;
            background-position: center center;
            background-size: 2%;
        }
        .card-text {
            text-align: center;
            font-size: 200%;
        }
        .fa-facebook-messenger {
            background: linear-gradient(to right, #00c6ff, #0072ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover {
            background-color: #00ef81;
            p {
                .fa-facebook-messenger {
                    background: initial;
                    -webkit-background-clip:  initial;
                    -webkit-text-fill-color: initial;
                    color: white !important;
                    cursor: pointer;
                }
            }
        }
    }
}
.card-name {
    font-size: 100%;
    color: white;
    position: absolute;
    top: 0;
    right: 2%;
}
.saving {
    display: none !important;
}
.just-created {
    animation: JustCreated .25s ease 0s 3;
}
@keyframes JustCreated {
    0% {
        background-color: blue;
    }
    100% {
        background-color: white;
    }
}
