// Place all the styles related to the SignIn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_in.sign_in {
    overflow: hidden;
    .container-fluid {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .row  {
            min-height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .jumbotron {
                height: 100%;
                margin-bottom: 4rem;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                .sign-in-btn-landing {
                    background-color: rgba(white, 1);
                    //border-color: black;
                    border-radius: 0;
                    //border-width: 1.5px;
                    padding: 1.25rem;
                    color: rgba(black, 1);
                    position: relative;
                    overflow: hidden;
                    &:focus, &:active  {
                        outline: none !important;
                    }
                    &:hover {
                        color: rgba(white, 1);
                        background-color: rgba(#00ef81, 1);
                    }
                    
                }
                .sign-in-btn-landing::before, .sign-in-btn-landing::after{
                    content:"";
                    width: 0;
                    height: 2px;
                    position: absolute;
                    transition: all 0.2s linear;
                    background: black;
                    width: 100%;
                } 
                .sign-in-btn-text::before, .sign-in-btn-text::after{
                    content:"";
                    width:2px;
                    height:0;
                    position: absolute;
                    transition: all 0.2s linear;
                    background: black;
                    height: 100%;
                }
                .sign-in-btn-landing:hover::before, .sign-in-btn-landing:hover::after{
                    width: 0%;
                }
                .sign-in-btn-landing:hover .sign-in-btn-text::before, .sign-in-btn-landing:hover .sign-in-btn-text::after{
                    height: 0%;
                }
                .sign-in-btn-landing::before, .sign-in-btn-landing::after{
                    transition-delay: 0s;
                }
                .sign-in-btn-landing .sign-in-btn-text::before, .sign-in-btn-landing .sign-in-btn-text::after{
                    transition-delay: 0.2s;
                }
                .sign-in-btn-landing::before{
                    right: 0;
                    top: 0;
                }
                .sign-in-btn-landing::after{
                    left: 0;
                    bottom: 0;
                }
                .sign-in-btn-landing .sign-in-btn-text::before{
                    left: 0;
                    top: 0;
                }
                .sign-in-btn-landing .sign-in-btn-text::after{
                    right: 0;
                    bottom: 0;
                }
                .sign-in-btn-landing:hover::before, .sign-in-btn-landing:hover::after{
                    transition-delay: 0.2s;
                }
                .sign-in-btn-landing:hover .sign-in-btn-text::before, .sign-in-btn-landing:hover .sign-in-btn-text::after{
                    transition-delay: 0s;
                }
            }
        }
    }
    .click-sonar {
        height: 0;
        width: 0;
        opacity: .75;
        border-radius: 100%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        animation: ClickSonar .5s ease-out 0s 1;
        background:  white;//linear-gradient(to left, #89fffd, #ef32d9);
    }
}

@keyframes ClickSonar {
    100% { height: calc(263.516px * 2); width: calc(263.516px * 2); opacity: 0; }
}

